default:
  name: "Marvin Bot"
  server: irc.freenode.net
  port: 6667
  channel: "#offtesting"
  use_logging: true
development:
  user: MarvinBot
  name: MarvinBot
  nick:  MarvinBot
production:
  deployed: false