default:
  name: Marvin
  use_logging: false
  datastore_location: tmp/datastore.json
  nicks:
    - MarvinBot1000
    - MarvinBot2000
    - MarvinBot3000
    - MarvinusBoticus
development:
  user: MarvinBot
  name: MarvinBot
  nick: MarvinBot